.article-cards-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--space-column-gap);
}

.article-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	position: relative;
	width: 100%;
	border: 1px solid var(--color-border-primary);
	border-radius: var(--border-radius-card-s);
	overflow: hidden;
	transition: var(--transition-m);
}

.article-card:hover,
.article-card:active {
	transform: scale(101%);
}

.article-card__description-block {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.article-card__heading {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-l);
	font-weight: 400;
	letter-spacing: var(--font-letter-spacing);
}

.article-card__heading a {
	color: inherit;
	text-decoration: none;

}
.article-card__heading a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
}

.article-card__cover {
	display: block;
	margin-top: 8px;
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: var(--border-radius-button-m);
}

.article-card__meta-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.article-card__categories {
	display: flex;
	flex-wrap: nowrap;
	gap: 4px;
	max-width: calc(100% - 70px);
	overflow: hidden;
}

.article-card__categories li {
	display: inherit;
	list-style-type: none;
}

.article-card__categories li:not(:first-child)::before {
	content: "·";
	color: var(--color-elem-hightlight);
	font-size: var(--font-size-content-xs);
	letter-spacing: var(--font-letter-spacing);
	margin-right: 4px;
}


/* Pinned style for cards */

.article-card.is-style-pinned {
	justify-content: flex-end;
	aspect-ratio: 16/9;
	border: none;
	background-color: var(--color-bg-hightlight-light);
}

.article-cards-grid.is-block-pinned .article-card.is-style-pinned:first-of-type {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	aspect-ratio: initial;
	height: 100%;
}

.article-card.is-style-pinned::after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--gradient-article-dark);
}

.article-card.is-style-pinned .article-card__cover {
	display: block;
	margin-top: 0;
	position: absolute;
	left: 0;
	top: 0;
	aspect-ratio: initial;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.article-card.is-style-pinned .article-card__heading {
	z-index: 3;
	color: var(--color-bg-primary);
}

.article-card.is-style-pinned .article-card__meta-data {
	z-index: 4;
	justify-content: flex-start;
}


/* Other cards block */

.article-cards-grid.is-block-other {
	padding-top: 12px;
}


/* Mailing banner */

.mailing-block {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	margin-top: 32px;
	padding: 20px 24px;
	border-radius: var(--border-radius-card-s);
	overflow: hidden;

	background-color: var(--color-elem-hightlight);
	background-image: url("../../images/res/at-dynamic-clay.png");
	background-size: 280px;
	background-repeat: no-repeat;
	background-position: center right 220px;
	background-blend-mode: soft-light;
}

.mailing-block::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 500px);
	height: 100%;
	z-index: 1;
	background: linear-gradient(to right, var(--color-bg-hightlight-dark), #6C93ECFF);
}

.mailing-block__description {
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mailing-block__description .text-heading {
	color: var(--color-bg-primary)
}

.mailing-block__buttons-list {
	z-index: 3;
	display: flex;
	align-items: center;
	gap: 8px;
}

.mailing-block__bg-3d-icon {
	display: block;
	position: absolute;
	top: -120px;
	right: 232px;
	width: 280px;
	aspect-ratio: 1/1;

}