#event-cards .content-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--space-column-gap);
}

.event-card {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 12px;
	padding: 12px;
	aspect-ratio: 1/1;
	border-radius: var(--border-radius-card-m);
	overflow: hidden;
	background: var(--color-bg-hightlight-dark);
	text-decoration: none;
}

.event-card:not(.is-all-events-card)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	aspect-ratio: 4/3;
	background: var(--gradient-event-dark);
}

.event-card__description {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.event-card__heading {
	position: relative;
	z-index: 3;
	color: var(--color-bg-primary);
	font-size: var(--font-size-content-l);
	font-weight: 400;
	letter-spacing: var(--font-letter-spacing);
}

.event-card__cover {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.event-card__status {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	gap: 4px;
}

.event-card__status .icon {
	height: 14px;
}

.event-card .button {
	position: relative;
	z-index: 3;
	width: 100%;
	justify-content: center;
	border-radius: var(--border-radius-card-s);
}

.event-card__header {
	margin-bottom: auto;
}


/* Calender */

.event-card__calender {
	position: relative;
	z-index: 3;
	display: inline-flex;
	flex-direction: column;
	width: fit-content;
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-border-primary);
	border-radius: var(--border-radius-card-s);
	overflow: hidden;
}

.event-card-calender__mounth {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px 2px 8px;
	color: var(--color-bg-primary);
	background-color: var(--color-elem-primary);
	text-align: center;
	font-size: var(--font-size-content-xs);
	font-weight: 400;
}

.event-card__calender.is-style-red .event-card-calender__mounth {
	background-color: var(--color-elem-hightlight-alt);
}

.event-card__calender.is-style-blue .event-card-calender__mounth {
	background-color: var(--color-elem-hightlight);
}

.event-card-calender__day-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2px 4px;
	min-height: 24px;
}

.event-card-calender__day {
	color: var(--color-elem-primary);
	font-size: var(--font-size-content-s);
	font-weight: 500;
}

.event-card-calender__year {
	color: var(--color-elem-secondary);
	font-size: 8px;
	font-weight: 400;
}


/* All events card */

.event-card.is-all-events-card {
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid var(--color-elem-hightlight);
}

.event-card.is-all-events-card .text-label {
	color: var(--color-elem-primary)
}

.event-card.is-all-events-card .event-card__heading {
	color: var(--color-elem-primary);
	font-size: var(--font-size-heading-l);
	font-weight: 600;
}

.event-card.is-all-events-card .event-card__heading {
	position: relative;
}

.event-card.is-all-events-card .event-card__calender:nth-of-type(1) {
	position: absolute;
	top: 24px;
	left: 12px;
}

.event-card.is-all-events-card .event-card__calender:nth-of-type(2) {
	position: absolute;
	top: 18px;
	left: 26px;
}

.event-card.is-all-events-card .event-card__calender:nth-of-type(3) {
	position: absolute;
	top: 12px;
	left: 40px;
}