#not-found .content-wrapper {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

#not-found .text-heading {
	font-size: var(--font-size-heading-l);
}

#not-found .text-label {
	color: var(--color-elem-primary);
}